---
- name: Install docker
  pacman:
    name: docker
    state: present

- name: Install docker-compose
  pacman:
    name: docker-compose
    state: present

- name: Add the user to docker group
  user:
    name: "{{ user.name }}"
    groups: docker
    append: yes

- name: Enable docker.service
  service:
    name: docker.service
    enabled: yes

- name: Check if daemon.json file exist for this host
  stat:
    path: hosts/files/{{inventory_hostname}}/docker/daemon.json
  register: stat_result

- name: Copy daemon.json for this host
  copy:
    src: hosts/files/{{inventory_hostname}}/docker/daemon.json
    dest: /etc/docker/daemon.json
    mode: 0644
  when: stat_result.stat.exists
